{% include head.html %}

<body>
	<div class="container">
		<div class="row">
			<div class="span16">
				<article>
					<div class="page-header">
		  				<h1>{{ page.title }}</h1>
					</div>
				
		   			{{ content }}
				</article>
			
				{% assign author = site.authors[page.author] %}
				<div class="meta">
					<img src="http://www.gravatar.com/avatar/{{ author.gravatar }}?s=40">
					<span class="author">{{ author.display_name }}</span>
				</div>
			</div>
		</div>
	 </div>
</body>
</html>